*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#fff ;
    height: 70px;
    display: flex;
    width: 100%;
    align-items: center;
}

main{
    background-color: #7fffd4;
}

footer{
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
/* header */

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.col-50{
    width: 50%;
    display: flex;
    align-items: center;
}

.inizio{
    margin-left: 2rem;
}

.inizio img{
    margin-right: 1rem;
}

.fine{
    margin-right: 2rem;
    flex-direction: row-reverse;
}

#chek-me{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0.5px rgb(92, 91, 91) solid;
    cursor: pointer;
}

#chek-me:hover{
    box-shadow: 5px 10px #888888;
}

/* main */

.container{
    width: 1000px;
    height: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 5rem 0;
}

#grind{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.ez{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.yellow{
    background-color: rgb(10, 153, 179);
}

/* footer */

.madeby{
    margin-left: 2rem;
    font-size: 20px;
}